[2020-04-07 15:10] llevitis opened #3 "add functions for volumetric workflow"
- [ ] Function to map 4D volume data to 2D connectivity matrix
- [ ] Function to map 2D volume to 3D label image
- [ ] Update documentation with tutorial for Python volume viewer

[2020-04-07 18:04] PeerHerholz commented on #3
thx for the roadmap @llevitis! anything you want to tackle? I would be okay with any of the tasks. @ReinderVosDeWael where exactly should these functions go within [here](https://github.com/ReinderVosDeWael/BrainSpace/tree/master/brainspace/gradient)?

[2020-04-07 18:16] ReinderVosDeWael commented on #3
I'd place volume/label mapping functions in the utils directory https://github.com/ReinderVosDeWael/BrainSpace/tree/master/brainspace/utils . Although will ping Oualid to check with him.

[2020-04-07 19:49] ReinderVosDeWael commented on #3
Yup utils directory is good.

[2020-04-07 20:04] vinferrer commented on #3
If you want I can take care of the 4D to 2D connectivity matrix function, should be an easy one

[2020-04-07 20:05] vinferrer commented on #3
or  i can do something else

[2020-04-07 20:24] ReinderVosDeWael opened #4 "Create MATLAB viewer"
### Goals

I've set up a basic volume viewer (see `BrainSpace/matlab/plot_data/volume_viewer`). Current issues are as follows:
- [ ] MNI images are wrongly orientated. This will likely require a change to `get_slice.m`.

- [ ] Function does not support an overlay map (e.g. gradient data). This will likely require changes to `volume_viewer.m` as well as `viewer.m`

- [ ] There's no color bar. This

[2020-04-08 12:33] PeerHerholz commented on #3
![giphy](https://user-images.githubusercontent.com/20129524/78784586-966ac100-7973-11ea-8c47-5dddeb27866e.gif)

any updates of who is doing what?

[2020-04-08 12:51] vinferrer commented on #3
yeah I was waiting for a response, but basically i already have Function to map 4D volume data to 2D connectivity matrix based on @llevitis code, I can upload it as a PR

[2020-04-08 14:18] vinferrer commented on #3
https://github.com/vinferrer/BrainSpace/blob/vol2CM/brainspace/utils/volflow.py

[2020-04-08 14:40] llevitis commented on #3
@PeerHerholz, I will make a commit to the branch created by @vinferrer to have an option of working with multiple timeseries. I played around yesterday with using Jinja and a template html file to create one html file that displays each interactive image created by Nilearn (each of which is saved to another html file).

![image](https://user-images.githubusercontent.com/17363738/78797131-4b59a980-

[2020-04-08 14:43] vinferrer commented on #3
Don't worry @llevitis  I can do the commit and then push it as a PR

[2020-04-08 15:43] llevitis opened #6 "Update Tutorial 0 with volumetric workflow and visualization"
To-do once functions in #3 are merged.

[2020-04-10 18:09] PeerHerholz commented on #3
Sorry for the late reply and the absence. I will now start working on the matrix to volume mapping, following what we have discussed in the other PRs and mattermost.

[2020-04-14 18:14] ReinderVosDeWael commented on #3
Finally got around to running @llevitis code so far and it's working well for me and looks great :D. I think once @PeerHerholz is done we can confirm the PR.

[2020-04-20 22:02] PeerHerholz commented on #3
Aaaaaaallrighty folks, after some while (super sorry again), I got to do my part. I have a running version of the function that maps computed `gradients` from `GradientMaps` to either `4D` or `3D` `volumes`. I'm sure it can be improved and we would need to talk about some of the specifics, but in general it runs. However, before I push my changes, I think we should check and merge #8 in order to a

[2020-04-21 21:11] ReinderVosDeWael commented on #3
Merge #8 into my fork or into this pull request? If the former, is everyone OK with merging #8?

[2020-04-22 07:57] vinferrer commented on #3
I think #8  isn't completely reviewed, please do not merge. @PeerHerholz and @llevitis have to approve it yet

[2020-04-22 17:12] PeerHerholz commented on #3
On it!

[2020-06-05 19:07] llevitis commented on #3
@PeerHerholz I am very very late to getting back to all of this. have you pushed your function yet?

[2020-06-16 20:34] kristianeschenburg opened #18 "Changing colorbar labels"
Hi

Thank you for developing this package!  I would like to change the tick labels on the colorbars, but I am not very familiar with VTK.  I have found the 'cb__' kwargs parameter, and can change the colorbar size (width and height).

I would like to be able to specify what to display at the colorbar ticks i.e. instead of [max(scalar map), min(scalar map)], I would like to display ['some text', 's

[2020-06-17 21:26] OualidBenkarim commented on #18
Yep, that's a bit complicated with our current version, but here's a workaround

[code]

And it looks like this:

![colorbar](https://user-images.githubusercontent.com/5702442/84951683-c5618980-b0be-11ea-89cb-58c8c32a3195.png)

Hope this helps

[2020-06-17 21:37] kristianeschenburg commented on #18
Thank you!  This will work for my current purpose.

[2020-06-17 21:37] #18 closed, assigned to nobody

[2020-06-23 16:38] shawnrhoads opened #19 "Comparing groups and projecting to 3D/4D volumes/meshes in BrainSpace (Python)"
Hello!

I am trying to figure out the best way to compare gradient maps between groups after determining gradient using BrainSpace in Python. My current implementation computes individual-level gradient maps, then aligns them with a Procrustes transformation. See the following code:

[code]

Now, aligned_subjs.aligned_ is also a list of n_subject numpy arrays (with shape: n_parcels x n_components)

[2020-06-26 13:31] ReinderVosDeWael commented on #19
Hi,

The recommended method for alignment is to provide all connectivity matrices to the GradientMaps object simultaneously with the alignment parameter set to 'procrustes' (see https://brainspace.readthedocs.io/en/latest/python_doc/auto_examples/plot_tutorial2.html#gradient-alignment).

If you want to compare the gradients to other markers then I would still recommend accounting for spatial autoc

[2020-06-26 14:20] PeerHerholz commented on #3
Hi gang (@vinferrer, @llevitis, @ReinderVosDeWael),

while working with @ReinderVosDeWael on the `grad2fmrivols` function and some applications, we stumbled upon a few limitations of the current workflow that should be addressed:

-  `atlas`  should be more flexible to also allow custom parcellations, as the current version loves `nilearn` maybe a bit too much
- `voxel` based fun is not possible,

[2020-06-26 14:39] PeerHerholz commented on #3
Add on: while playing a bit around, I think we need to disentangle `atlas` and `labels` in order to allow more flexibility.
I would propose the following:

- `atlas`: either a `str`/`path` to the `.nii` image or a loaded `nii`
- `labels`: a `np.array` with corresponding label names as `str`

With that we could also support `voxel-wise` stuff as `atlas` (we would need to change the name of the argu

[2020-06-26 14:55] ReinderVosDeWael commented on #3
I think the most important thing would be that we could simply provide a nifti image containing a parcellation. This would allow the user to export gradients to any atlas they have in a way that's probably intuitive to most neuroscientists.  Anything else, to me, is "a cherry on top".

[2020-06-26 15:38] PeerHerholz commented on #3
mmmhhhh cherries... true that @ReinderVosDeWael! Based on that I would suggest to extract the needed information from the `atlas`/`nii` image itself. Currently I see three different "cases":

- no `parcellation`, but `voxel-wise`: use `NiftiMasker` to extract `voxel-wise` time series, compute `voxel` based `connectivity matrix`, compute `gradients`, use `NiftiMasker.inverse_transform` on `gradient

[2020-06-26 15:58] NicolasNin opened #20 "diffusion time default value discrepancy"
Hi,

The following may be on purpose (I find it a bit inconsistent though).

In gradient/embedding.py , the class DiffusionMaps has a default diffusion time value set to 1, I believe it should be 0.
The documentation of the class says the default is 0, also the function doing the work "diffusion_mapping" has default at 0.

A GradientMaps would inherit this time diffusion of 1, when doing something

[2020-06-26 23:54] OualidBenkarim commented on #20
Hi Nicolas,

Yes, that's true. To avoid any confusion, diffusion time should be set to 0 in the docstrings and also for diffusion_mapping.

Thanks!
Oualid

[2020-07-02 20:05] ReinderVosDeWael commented on #3
I think Peer covered all the relevant cases, or at least I don't see any others. Shall we go ahead with this? @PeerHerholz would you need help implementing this and if yes which parts do you need me to work on?

[2020-07-28 14:59] #19 closed, assigned to nobody

[2020-07-29 01:43] jingjingz opened #22 "Parcellation text labels"
Hi, I was trying to extract parcel labels with the Matlab package
labeling = labeling.vosdewael_100;
and the results are numeric parcel labels. I was wondering if there is a way to get the text labels for each ROI and the correspondence between the text and numeric labels.
Thanks!

[2020-07-29 16:44] ReinderVosDeWael commented on #22
Hi, no text labels exist for this parcellation. However, since this parcellation is simply a sub-parcellation of Desikan-Killiany, you could look for overlap between these parcellations and the DK-parcels and assign labels based on maximum overlap.

[2020-07-29 19:38] jingjingz commented on #22
sorry for the amateur question: where can I find a list of Desikan-Killiany parcellation labels?
Thanks!

[2020-07-29 19:40] jingjingz commented on #22
my goal is to visualize the DK parcellation on Conte69 template and compare it with my own gradient map. So I would need to know the name of the parcels in each colored ROI of DK parcellation on the Conte69 surface.

[2020-07-29 19:53] PeerHerholz commented on #22
Ahoi hoi @jingjingz,

you can check DK related information [here](https://surfer.nmr.mgh.harvard.edu/fswiki/CorticalParcellation) and [here](https://surfer.nmr.mgh.harvard.edu/fswiki/FsTutorial/AnatomicalROI/FreeSurferColorLUT). Regarding overlap, I would follow @ReinderVosDeWael's suggestion and use a small function to assess label assignments based on maximum overlap instead of a manual way usin

[2020-07-30 17:58] jingjingz commented on #22
@PeerHerholz @ReinderVosDeWael
Thanks a lot for your help.

[2020-07-30 17:58] #22 closed, assigned to ReinderVosDeWael

[2020-11-26 18:48] ReinderVosDeWael opened #24 "[BUG] Failure in validation of graph edge properties"
Some users are running into a bug in the graph function when running the tutorial scripts, however I have been unable to reproduce this bug.

For now I advise users with this bug to comment out the lines shown below of the GradientMaps script. Note that after commenting out these lines the toolbox will no longer check whether the affinity matrix is a connected graph. With resting-state data and de

[2020-12-12 03:17] 5Elise opened #25 "problem with VTK for plot_hemispheres"
I'm stuck at the plot_hemispheres line

I get this error message, it seems like it's a problem with vtk and not brai space but would anyone know how to solve this VTK issue?

ERROR: In /work/standalone-x64-build/VTK-source/Rendering/OpenGL2/vtkXOpenGLRenderWindow.cxx,
line 273
vtkXOpenGLRenderWindow (0x3b33610): bad X server connection. DISPLAY=Aborted (core dumped)

[2021-01-07 04:19] sophiatinh opened #26 "fsaverage6 plot_hemispheres"
Thank you for the very helpful package for analysis. I am pretty new to this area so I have a question regarding the surface space. My connectivity matrix was formulated using the Schaefer 400 parcellation from data mapped onto the fsaverage6 surface. I noted that the labels and surfaces here are all Conte69 surface. I am just wondering if it is possible to plot the gradient with fsaverage6? Does

[2021-01-07 17:24] ReinderVosDeWael commented on #26
Great to hear you're enjoying BrainSpace. Yes all our tutorial data was provided on the Conte69 surface, but our functions are capable of handling any surface/parcellation, provided that you load them yourself.

BrainSpace's surface readers ([MATLAB](https://brainspace.readthedocs.io/en/latest/pages/matlab_doc/main_functionality/read_surface.html) / [Python](https://brainspace.readthedocs.io/en/la

[2021-01-07 17:34] ReinderVosDeWael commented on #25
Sorry I missed this issue earlier. I'm not too familiar with VTK's inner workings. That being said, this looks to me like VTK can't connect to your display. One possible cause is that you're running plot_hemispheres whilst SSHed into a remote computer. If that's the case, then this _might_ be resolved by running ssh with the -X parameter (on Linux/macOS; I don't know the Windows equivalent).

If t

[2021-01-08 08:23] sophiatinh commented on #26
Thank you so much for your prompt reply! I have managed to make it work with my surface using the convert_surface function.
I have another question regarding gradient analysis. If I would like to compare gradient value between individuals, or summarizing gradient values, does aligning the gradient using the reference gradient that is constructed by the group average correlation works?
Also, it see

[2021-01-11 12:39] manea006 opened #28 "Matlab - wrong dimension for splitting of the gradients after ja"
I believe that at [this line ](https://github.com/MICA-MNI/BrainSpace/blob/666e43c6037418d8ffc150fd68c3c5f52867739f/matlab/%40GradientMaps/fit.m#L88) the wrong dimension is taken. This is not a problem for symmetrical input matrices, but for non-symmetrical input matrices it tries to [split the aligned (ja) gradients](https://github.com/MICA-MNI/BrainSpace/blob/666e43c6037418d8ffc150fd68c3c5f52867

[2021-01-11 14:45] ReinderVosDeWael commented on #28
Good catch! Yes, that is indeed a bug and your assessment seems correct: this should not affect joint alignment of symmetric matrices, but it will cause wrong dimensions in asymmetric matrices.

Fortunately, it looks like an easy fix. I've published a PR (#29) to address this. Please have a go with it and let me know if you encounter any further issues.

[2021-01-11 15:03] ReinderVosDeWael commented on #26
Ideally you'd align individuals to a holdout group. However, if this is not possible within your study design (e.g. due to insufficient sample size, no comparable external dataset), then aligning to the group average should be OK.

I don't believe the gradient field has settled on an answer here. For example, Margulies et al used the r-matrix  (Margulies et al., 2016, PNAS; SI Methods)] whereas in

[2021-01-11 15:22] manea006 commented on #28
Thank you!

[2021-01-11 15:32] manea006 opened #30 "Matlab - Diffusion mapping - eigs instead of eig"
I have been working with the matlab version of BrainSpace for a few weeks now and I have encountered some memory problems. For reference, I am running voxel-wise rather than surface/parcellation-based analyses. I tried using eigs instead of eig for Diffusion Mapping and it seems the outcome is the same (and solved my memory issues). I saw that it's being used for Laplacian Eigenmaps so I was wonde

[2021-01-11 16:15] manea006 opened #31 "Matlab - out of memory error for matrix sparsification"
For very large matrices I had an out of memory error at [this line](https://github.com/MICA-MNI/BrainSpace/blob/666e43c6037418d8ffc150fd68c3c5f52867739f/matlab/%40GradientMaps/GradientMaps.m#L187). Matlab memory usage was much lower than the total memory available. However, with the following replacement it worked.

[code]

[2021-01-11 16:22] ReinderVosDeWael commented on #30
The reason they're different is mostly historic: the LE code was taken from a different package whereas we developed the DM code ourselves. Back when I wrote the first version of the MATLAB DM code (2017) the eigs function would give different results on repeated runs due to random initialization. That's why I chose to use the eig function. Since R2017b the eigs function has changed such that it g

[2021-01-11 16:30] ReinderVosDeWael commented on #31
Ah, the CPU vs. memory trade-off. The current BrainSpace implementation should run faster whereas your proposed solution should be more memory efficient. Speed probably isn't much of an issue in this particular case though. I'll mark this as a future enhancement.

[2021-01-12 06:17] sophiatinh commented on #26
Thank you so much for your help! All your advice and suggestion have been incredibly helpful.

[2021-01-12 14:34] #26 closed, assigned to ReinderVosDeWael

[2021-01-16 02:13] #28 closed, assigned to ReinderVosDeWael

[2021-01-20 20:57] llevitis commented on #3
hey @PeerHerholz and @ReinderVosDeWael...i'm v sorry for circling back to this so late, but I was wondering what the status is currently of the use cases that had been mentioned above?

[2021-01-28 15:36] ReinderVosDeWael commented on #3
Thanks for reminding us of this :) I'll have a look after the OHBM abstract deadline

[2021-02-05 18:05] MitchellJosephValdesSosa opened #33 "unable to unzip downloaded file"

[2021-02-05 20:59] #30 closed, assigned to ReinderVosDeWael

[2021-02-05 20:59] #25 closed, assigned to nobody

[2021-02-05 21:00] ReinderVosDeWael commented on #33
Hi - could you be more specific? Which file are you trying to unzip?

[2021-02-18 21:54] karan-ganguly opened #34 "color_range option not able to specify"
HI,
Cool toolbox!
I'm not able to set the color_range option for visualization in python.
The following line works.
plot_hemispheres(surf_lh, surf_rh, array_name=grad,  cmap='viridis_r',  color_bar=True, label_text=label_text)

But adding color_range= (-0.3, 0.3 ) gived vtk  related errors.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
 "... brainspace/vtk_interface/dec

[2021-02-22 17:51] OualidBenkarim commented on #34
Cannot tell what the problem might be. I can look at it if you can provide some more code

Here's is an example that works fine from tutorial 1, just added color_range

[code]

[2021-03-08 08:28] sophiatinh opened #35 "Plotting Gradient using plot_hemispheres"
Hi,
Using the gradient_in_euclidean function, we can clearly note the area that has not been covered in the scan as seen by the grey mask. However, the plot_hemispheres mask uses dark blue which is the same color as other regions of the brain which has lower gradient value. Is there a way for me to customize so that the area where the label value = 0 (aka. not covered in scan/parcellation) can be

[2021-03-08 14:47] ReinderVosDeWael commented on #35
Hi,

Both functions behave identically in that the mask is assigned a value like any other from the colormap, gradient_in_euclidean simply uses a custom color map. To get a different color for the colormap you'll want to set a custom colormap wherein the lowest value is the color that you want for the mask, set this colormap for all axes, and set areas that you want removed to -inf. Note that MATL

[2021-03-10 07:55] sophiatinh commented on #35
That piece of code works perfectly! Much thanks!

[2021-03-19 14:06] seralouk opened #36 "Nifti to fsaverage surface"
Hello,

First of all, thanks for this amazing repo.

I have a 3D nifti file that I would like to project to the fsaverage surface for a nice visualization output.
My nifti file is already in MNI space.

Is that possible using this tool?

Data:https://easyupload.io/260ldc
Pass: makis

[2021-03-19 14:07] #35 closed, assigned to ReinderVosDeWael

[2021-03-19 14:09] ReinderVosDeWael commented on #36
Hi,

Unfortunately we do not provide this functionality as part of BrainSpace. You may want to look at the Human Connectome Project's Workbench Tools for this.  Once you have the data on fsaverage you could read it into Python/MATLAB and use BrainSpace for the visualization.

Cheers,

Reinder

[2021-03-19 14:12] seralouk commented on #36
thanks

[2021-03-19 14:12] #36 closed, assigned to nobody

[2021-03-23 13:16] danjgale opened #37 "Alternative layout in plot_hemispheres"
First off, thank you for such a great package. It has been helpful in my own studies!

I was wondering how I would go about plotting my surfaces in adifferent layout -- a 2x2 grid with the top row as lateral views and the bottom row as medial views. This is the default view in connectome workbench (see below) and it is used quite often:
![S1200_midthickness_view](https://user-images.githubusercont

[2021-03-24 19:33] OualidBenkarim commented on #37
You are changing `arrayname` type from `str` to `bytes` when using `dtype='S50'`:

[code]

Just remove the dtype:

[code]

or use unicode:

[code]

Yes, you are welcome to submit the PR. You could also consider how to plot the color bar, I didn't try with this layout

[2021-03-26 10:26] sofievalk opened #38 "diffusion map embedding generates different results each run (python version)"
Hi!

When running diffusion map embedding in the python version using a parcellation of 91 parcels, results are not reproducible, e.g. the numbers change every iteration. This is not the case when using PCA or le, or when using a parcellation with 400 parcels. Would you have any explanation for this behaviour?

cheers,
Sofie

[2021-03-26 15:42] danjgale commented on #37
Ah, totally missed that `array_name` uses `bytes` instead of `str`. I've fixed this and it works. I also added some code to handle the color bar. I figured the easies solution would be to have `share = 'both'` in `plot_surf`, such that the color bar can span the grid. Plotting the same Schaefer 400 parcelation:

![grid](https://user-images.githubusercontent.com/14634382/112656836-2c6b5600-8e28-11e

[2021-03-27 15:38] ReinderVosDeWael commented on #38
Hi Sofie,

This is expected behaviour; diffusion mapping is initialized with a `random_state` parameter. If none is provided then the RandomState singleton used by np.random is used (c.f. https://scikit-learn.org/stable/modules/generated/sklearn.utils.check_random_state.html). If you set the random_state parameter at the initialization of the GradientMaps object then the results should be reproduc

[2021-04-08 07:33] lqcheng2017 opened #40 "misalignment between left and right diffusion maps (matlab version)"
Hi!

I' trying to generate diffussion maps for the left and right hemispheres using following codes:

gm = GradientMaps('kernel','na','approach','dm','n_components',2, 'alignment', 'pa', 'random_state', 10);
gm = gm.fit({left_fc_matrix, right_fc_matrix});

however, directions of the principal gradients between the two hemispheres are opposite.
Could you have any suggestions about how to align the

[2021-04-08 13:06] ReinderVosDeWael commented on #40
Hi,

I suspect the rotation isn't working well because you're only generating two gradients - do you find the same results with a higher number for n_components?

[2021-04-09 03:17] lqcheng2017 commented on #40
Hi,

Thanks for your quick reply.
I didn't notice the _field_ "aligned" in the _structure array_ "gm". I displayed the results in the _field_  "aligned" and they looked very well.

Best,
Luqi

[2021-04-09 03:27] #40 closed, assigned to nobody

[2021-04-15 20:19] danjgale opened #41 "Subject list for group connectivity matrices"
I was wondering if the list of HCP subjects used for the group functional connectivity matrices with `load_group_fc`/`load_group_mpc` was available. My understanding/assumption is that these subsets of HCP data are based on the selection procedures described in [Vos de Wael et al (2018)](https://www.pnas.org/content/115/40/10154), but I'm not 100% certain in that.

I'm looking to compute similar c

[2021-04-16 12:53] ReinderVosDeWael commented on #41
Hi,

You are mostly correct; all but the MPC data is derived from Vos de Wael et al (discovery dataset). The MPC dataset is derived from Paquola et al, 2019 as noted in tutorial 2.

Although that information is available in the current documentation it is, indeed, far too well hidden. I'll try to fix this in the next update. If you need these subject lists soon, send me an e-mail for the Vos de Wa

[2021-04-16 12:53] #38 closed, assigned to nobody

[2021-04-16 12:55] #33 closed, assigned to nobody

[2021-04-16 12:55] #34 closed, assigned to nobody

[2021-04-17 12:36] danjgale commented on #41
Ah okay, I missed that at the bottom of tutorial 2. Perhaps including this information in each function's docstring might be the most upfront approach.

[2021-05-04 08:40] ReinderVosDeWael commented on #37
Closing this as it was resolved in #39

[2021-05-04 08:40] #37 closed, assigned to nobody

[2021-05-25 10:06] ly6ustc opened #42 "Question about 'procrustes'"
Hi,
I'm learning to use BrainSpace for gradient calculation. And I have some questions about aligning the gradient components.
Usually, for fair comparisons, we need to align the gradient components of each individual to the group template. And "Procrustes alignment" seems a good choice. Should we put all individual data into this procedure at once? As an example in paper "BrainSpace: a toolbox fo

[2021-05-28 17:19] ReinderVosDeWael opened #43 "[DOC] Confusing MATLAB tutorial 2"
[MATLAB tutorial 2 ](https://brainspace.readthedocs.io/en/latest/pages/matlab_doc/examples/tutorial_2_gradient_customization.html#gradient-alignment)is a bit confusing on the order of the aligned gradients in the aligned field. Specifically, the numbering of the input gradients is matrix 2, 1 but the labels of the plotted figure use the reverse numbers.

[2021-05-28 17:29] ReinderVosDeWael commented on #42
Hi,

I'm not aware of any formal comparisons on aligning all subjects simultaneously vs separately. Intuitively, i'd expect aligning subjects individually would result in a better matching to the reference whereas aligning them simultaneously would result in a better alignment across subjects. In my work I've always aligned all subjects simultaneously, but truth be told I've never tried running ea

[2021-05-29 07:45] ly6ustc commented on #42
Thank you very much! It helps a lot.

[2021-06-01 16:45] edickie opened #44 "load_hemipheres is crashing python jupyter"
Hi guys,

We've had problems with our jupyter kerner crashing when we try to run the `load_hemipheres` command. Is this a known issue? Are there any extra dependencies we are missing?

[2021-06-01 21:15] OualidBenkarim commented on #44
Hi @edickie, you mean plot_hemispheres? What is the error you get?

[2021-06-02 00:10] edickie commented on #44
sorry yes - plot_hemispheres.  It's hard to get and error message because it seems the whole jupyter kernel freezes up and crashes

[2021-06-02 01:03] OualidBenkarim commented on #44
What happens when you just use python (not jupyter)?

If the problem persists, it may be related to vtk installation. Try running this vtk [CylinderExample](https://kitware.github.io/vtk-examples/site/Python/GeometricObjects/CylinderExample/)

[2021-06-02 01:33] edickie commented on #44
In the terminal it seems to have made it to a segmentation fault (but it was on a pretty well resourced machine.

[code]

[2021-06-02 01:50] edickie commented on #44
Update - I also see the same segmentation fault with the cylinder example:

[code]

[2021-06-02 18:14] OualidBenkarim commented on #44
The problem is not with vtk . I think it may be related to X11 forwarding.
What is your os? Are you using a server?

[2021-06-02 18:32] edickie commented on #44
Yes - this is specifically for working on the compute canada (Niagara)
server.

On Wed, Jun 2, 2021 at 2:14 PM Oualid ***@***.***> wrote:

[2021-06-02 18:42] OualidBenkarim commented on #44
Try adding -Y to the ssh command. If you are in macos, you also need to install XQuartz before

[2021-06-02 19:03] edickie commented on #44
With -Y property enabled on ssh I get:
[code]

I'm not really interested in viewing graphics in a separate window...is
there any way to just write graphics directly to files in order to sidestep
what appears to be breaking?

On Wed, Jun 2, 2021 at 2:43 PM Oualid ***@***.***> wrote:

[2021-06-02 20:04] OualidBenkarim commented on #44
Yes, you can do it: `plot_hemispheres(..., screenshot=True, filename='/path/to/fig.png')`

[2021-06-02 20:05] #42 closed, assigned to nobody

[2021-06-13 18:22] kristianeschenburg opened #45 "overlaying arrays, separate color maps"
Hi

I'm interested in overlaying arrays onto the same surface.  Let's say I have two arrays, one corresponding to a resting-state network, and another corresponding to the areal boundaries of a cortical atlas / custom parcellation.  For the resting-state network, we'd use some colormap like "hot" for continuous values, while for the boundaries, we'd use a separate binary color map like "gray",  I

[2021-06-14 21:11] OualidBenkarim commented on #45
Hi @kristianeschenburg

You can overlay arrays with `PTuple`:

[code]

Here is an example:

[code]

And the plot:

![overlays](https://user-images.githubusercontent.com/5702442/121959856-52bbd600-cd33-11eb-9e3a-71bac722f65b.png)

[2021-07-11 15:07] #45 closed, assigned to nobody

[2021-07-11 15:07] #44 closed, assigned to nobody

[2021-07-16 13:25] #20 closed, assigned to OualidBenkarim

[2021-07-16 13:25] #41 closed, assigned to ReinderVosDeWael

[2021-07-16 13:25] #43 closed, assigned to ReinderVosDeWael

[2021-07-20 18:42] ReinderVosDeWael opened #50 "[FIX] Install through the MATLAB Toolbox does not include tutorial data"
Currently, installation through the MATLAB .tlbx file does not include the shared directory. As such, the tutorial data is not included with this distribution.

Current workaround is to simply download and install through Github.

[2021-07-25 07:53] HusBunia opened #51 "VTK error when running example data"
Hi:
An error has occurred when I running the example data,
Traceback (most recent call last):
  File "C:\Users\11481\PycharmProjects\untitled\venv\lib\site-packages\brainspace\vtk_interface\wrappers\base.py", line 203, in __getattr__
    return VTKMethodWrapper(super().__getattr__(name))
  File "C:\Users\11481\PycharmProjects\untitled\venv\lib\site-packages\vtkmodules\numpy_interface\dataset_adapt

[2021-07-26 18:50] OualidBenkarim commented on #51
Hi @HusBunia

what example are you trying to run? And please provide more info about the error

[2021-07-28 08:20] HusBunia commented on #51
Hi  @OualidBenkarim

"I ran the first command ' surf_lh, surf_rh = load_conte69()', and it returns the error :
Traceback (most recent call last):
  File "C:\Users\11481\PycharmProjects\untitled\venv\lib\site-packages\brainspace\vtk_interface\wrappers\base.py", line 203, in __getattr__
    return VTKMethodWrapper(super().__getattr__(name))
  File "C:\Users\11481\PycharmProjects\untitled\venv\lib\si

[2021-08-03 19:26] OualidBenkarim commented on #51
That's definitely an issue with vtk. You can try with using vtk 8.2 instead

[2021-08-05 13:07] HusBunia commented on #51
Thanks for your reply! I'll try a new version of VTK

[2021-08-05 13:07] #51 closed, assigned to nobody

[2021-08-18 07:15] debinz opened #52 "Procrustes alignment may reorder the embedding components or/and change the gradient values locally"
Hi!

Thank you for developing this awesome tool!

I am trying to map the gradients in individual connectivity and age-group-wise connectivity in a longitudinal dataset, and I used Procrustes alignment to align these gradients to a template (gradient computed based on averaged connectivities of all subjects). I found the alignment may reorder the embedding components or/and change the gradient valu

[2021-08-18 14:04] ReinderVosDeWael commented on #52
Hi.

Procrustes rotates the gradients in n-dimensional space so reordering or changing values at particular vertices is all intended behavior. The lambda field indeed corresponds to pre-aligned gradients. As of yet, there is no way to alter the lambda's to account for the rotation.

Cheers,

Reinder

[2021-08-25 09:24] HusBunia opened #53 "The gradients reversed when remove some features"
Hi:
I used the genetic data to build my network and correlated it with the other MRI-based network gradients. 2000 genes were included in my network, and  I want to estimate the importance of one gene. Thus, I removed the gene from my network. As a result, I found the gradients were changed from positive to negative, e.g. from 0.63 to -0.62. However, after Procrustes alignment, the alignment gradi

[2021-08-26 14:17] OualidBenkarim commented on #53
The sign of the gradients is not relevant here, you can simply change the sign...or align them if you think there may be other differences.

[2021-08-27 11:58] HusBunia commented on #53
Hi:
Thanks for your answer!
Could I understand the sign of the gradients was meanless? Because I have calculated the relationship between two different gradients. Does that mean the sign of the correlation is no matter in my study? Or the significance of the correlation was the only thing I should consider.
Thanks again for your help!

[2021-08-27 14:01] OualidBenkarim commented on #53
Yes! Gradients are eigenvectors, and as such their sign is arbitrary

[2021-08-28 04:54] HusBunia commented on #53
Thanks! I have learned that.

[2021-08-28 04:54] #53 closed, assigned to nobody

[2021-08-30 07:44] sophiatinh opened #54 "Difference between BrainSpace and original Margulies PNAS 2016 methods"
Hi,

I have a curious question regarding the difference in the embedding calculations of Brain Space and the one used in the 2016 PNAS paper by Margulies et al. I have tried feeding the same z matrix into both set of codes. Both used the same methods and parameters for thresholding, affinity matrix calculation and embedding (alpha, diffusion time). However there are some variations in the gradient

[2021-08-30 14:31] #52 closed, assigned to nobody

[2021-08-30 14:35] ReinderVosDeWael commented on #54
Hi Sophia,

Different packages will generally have some subtle differences due to implementation details. I'm not sure which BrainSpace version you're using, but if it's MATLAB then even just the differences between numpy/scipy and MATLAB's inbuilt functions could make quite a difference.

The only design difference between BrainSpace and the Margulies PNAS methods that I'm aware of is that we spa

[2021-08-31 09:27] sophiatinh commented on #54
Thank you so much for your prompt reply. I has indeed been using MATLAB Brainspace version 0.1.1.
I checked the code and it seemed like they also carried out sparsification before the kernel computation. However,  I discovered that they used the cosine distance as kernel and using that I obtained the exact same embedding values with correlation of +/-1 across all 10 components between the methods.

[2021-09-01 14:08] ReinderVosDeWael commented on #54
I'm not too sure why the eigenvalues diverge this much, unfortunately, as I'm not familiar with the minute details of the Margulies implementation. Regarding the number of components. There's a parameter `n_components` which determines the number of components returned (by default 10). There's a small discrepancy between our Python and MATLAB implementations here; MATLAB will return all computed e

[2021-09-01 14:09] ReinderVosDeWael commented on #54
Regarding the divergence between our MATLAB/Python implementation: can you send me the code you used to run this?

[2021-09-01 15:27] sophiatinh commented on #54
These are the codes used for the matlab and python implementation. I have included the lamba output for the top 2 gradients as well.

Matlab:
ave=table2array(readtable([maindir '/gradient_analysis-master_Marguiles/zmat_ave_45.csv']));
%using cosine distance
gref_cos = GradientMaps('kernel','cs');
gref_cos = gref_cos.fit(tanh(ave));

ans =
    0.8755
    0.8132....

Python:
# Load data and Fisher's

[2021-09-01 16:29] ReinderVosDeWael commented on #54
Would you mind mkaign the zmat_ave_45.csv file available? That could help me with reproducing this.

[2021-09-01 17:38] sophiatinh commented on #54
[zmat_ave_45.csv](https://github.com/MICA-MNI/BrainSpace/files/7093257/zmat_ave_45.csv)
Hope it helps!

[2021-09-01 21:21] ReinderVosDeWael commented on #54
I've found the cause of the divergence between MATLAB and Python. Long story short: there is an error in the scaling of the MATLAB eigenvalues. Note that the order of the eigenvalues as well as the eigenvectors (i.e. gradients) were unaffected.

I'll try to push out a fix for this ASAP, but in the short term you can do either of the following:

- Use the Python implementation for the magnitude of

[2021-09-07 06:24] sophiatinh commented on #54
That explained it. Thanks for your help!

[2021-09-07 18:02] ReinderVosDeWael commented on #54
A fix for this issue has been pushed to master.

[2021-09-07 18:02] #54 closed, assigned to nobody

[2021-09-21 15:25] Bountainmicycle commented on #44
Hi,

I have pretty much the same problem; trying to plot anything with `plot_hemispheres()` (on a server) results in a segmentation fault:

`zsh: segmentation fault  python plottest.py`

I'm not using Jupyter Notebook though.

Trying to run the vtk CylinderExample results in exactly the same segmentation fault issue.
Using ssh -Y doesn't change anything.
Trying to directly output the plots as scre

[2021-10-25 13:15] zbwcncq opened #57 "How to get the FC matrix from my own data?"
I can run BrainSpace based on the example data, but I noted that the FC matirx used in Brainspace was different from which I usually used, I want to get the FC matrix from my own rs-fMRI data, would you please provide a guideline about the preprocessing of rs-fMRI data and construction of FC matrix ?

[2021-10-25 14:17] PeerHerholz commented on #57
Hi @zbwcncq,

please note that the computation/derivation of `FC` or other `connectivity matrices` is not part of `BrainSpace` itself but assumed to be conducted elsewhere. For example, if you're using `python` you could employ the [nilearn package](https://nilearn.github.io/stable/index.html). Regarding `matlab`-based tools @ReinderVosDeWael might be able to provide some pointers. The `BrainSpace

[2021-11-18 22:42] htwangtw opened #58 "Inverse transform embedding value to surface, save as file"
As BrainSpace currently supports plotting the embedding onto the surface, I wonder would it be helpful to have a inverse transform function so people can save the embedding as surface files. As BrainSpace currently supports plotting the embedding onto the surface, would it be possible to expose the private functions that does the inverse transformation?

Having a brief look I believe this function

[2021-11-22 19:09] ReinderVosDeWael commented on #58
Hi Hao-Ting

This seems like it'd be helpful to me, but @OualidBenkarim is better versed in the specifics of the Python implementation than I am.

@OualidBenkarim what are your thoughts?

[2021-11-22 19:19] ReinderVosDeWael commented on #57
Woops - I missed this issue.

Yes indeed, as Peer mentioned, deriving the input (connectivity) matrix is not part of the BrainSpace toolkit, although our Python tutorial 0 does show an example. Several other tools exist that may help derive FC matrices (e.g. [micapipe](https://github.com/MICA-MNI/micapipe)).

I hope that helps.

[2021-11-22 19:19] #57 closed, assigned to nobody

[2021-11-24 15:51] OualidBenkarim commented on #58
Hi @htwangtw

I'm not sure I fully understand the question. If you want to save the gradients (aka embedding) in a surface, you can try:

[code]

Is this it or am I not getting it?

[2021-11-24 16:13] htwangtw commented on #58
You are totally right - good to know there's existing function for it. Not sure why I didn't find it in the first place.
~On an related note, would it worth it to store it in some more standard surface data format? (GIFTI or CIFTI)~

I dug through the code a bit more and realised what I was thinking of is already supported. The inverse transformation was part of the [surface mesh class and vtk wra

[2021-12-06 16:40] #58 closed, assigned to nobody

[2021-12-10 16:53] jordandekraker opened #62 "error handling of 0 rows"
Trying to fit data that contains a row of entirely 0s currently returns all NaNs in the output gradients when `kernel='cs'` or `kernel='na'`  (python version). Ideally, this should throw an error or perhaps rows containing all 0s should simply be discarded before this line:
https://github.com/MICA-MNI/BrainSpace/blob/528452f0a3e7cc671031aa1ecd6ed1b2e4d68a89/brainspace/gradient/kernels.py#L27

[2021-12-10 16:59] ReinderVosDeWael commented on #62
The MATLAB implementation resolves this by explicitly checking for inf/nan in the affinity matrix. We could implement something similar in Python

https://github.com/MICA-MNI/BrainSpace/blob/528452f0a3e7cc671031aa1ecd6ed1b2e4d68a89/matlab/%40GradientMaps/fit.m#L101-L103

[2021-12-21 18:50] qniksefat opened #63 "Cannot plot in remote server"
I'm trying to `plot_hemishperes` without showing the plots and just save the outputs in a remote server (connected via VScode). I get this error:

[code]

I've tried the following. All of them work well in my local and all make the same error on the remote; I couldn't resolve the issue with VTK or make the rendering independent of it.

- I get a `brainspace.plotting.base.Plotter` with `return_plot

[2021-12-22 22:47] OualidBenkarim commented on #63
Hi @qniksefat

That's because there is no X server. You need an X server even if offscreen rendering is used (e.g., `_to_image`, `screenshot=True`, `embed_nb=True`, etc).

According to what I found (see [here](https://discourse.vtk.org/t/how-to-build-vtk-on-a-supercomputer-without-x-server-and-no-root-previliges/377) and [here](https://marc.info/?l=vtkusers&m=152484201301060&w=2)), there may be 2

[2022-02-09 23:33] pcamach2 commented on #63
@OualidBenkarim @qniksefat one thing to try would be adding `matplotlib.use('PDF')` after you import matplotlib, but before importing pyplot. Then you can add `plt.switch_backend('Agg')` before plotting to switch to a headless/display-free rendering and/or include `backend='Agg'` as an argument for `plt.savefig()`

As an example snippet:

[code]

[2022-04-01 17:52] ReinderVosDeWael opened #66 "[Python] Workaround for plotting on remote server."
Many users have reported issues with using `plot_hemispheres` on a remote server. This issue stems from `vtk`, one of our dependencies, requiring a display to exist. If you are running into this issue, you may want to try this _experimental_ workaround. If you do, please let us know whether this worked for you.

The workaround is as follows. First, install [conda](https://docs.conda.io/projects/co

[2022-04-01 18:14] ReinderVosDeWael commented on #63
Closing this as there's now an issue (#66) with a recommended workaround (equivalent to 1. suggested by Oualid).

[2022-04-01 18:14] #63 closed, assigned to nobody

[2022-04-07 14:58] #62 closed, assigned to nobody

[2022-04-07 19:10] #24 closed, assigned to ReinderVosDeWael

[2022-04-08 15:22] #50 closed, assigned to ReinderVosDeWael

[2022-07-04 15:53] victoris93 opened #73 "plot_hemispheres: plot always generated in a separate window"
Hi,

`plot_hemispheres` always generates a plot in a separate window which cannot be closed. When I try to force quit, jupyter kernel dies. Is there a way to plot gradients in the notebook inline? Using python 3.8.

Thanks in advance!

[2022-07-04 16:03] victoris93 commented on #73
Ok, the argument `embed_nb = True` works, for some reason it didn't before.

[2022-07-04 16:03] #73 closed, assigned to nobody

[2022-07-05 13:06] mgxd opened #74 "Latest (0.1.3) not compatible with new vtk"
* **What is the current behavior?**
The newest VTK release candidate (`9.2.0rc1`) is incompatible.

* **Please provide the steps to reproduce and if possible a minimal demo of the problem**.
[code]

* **What is the expected behavior?**
No error

* **Please tell us about your computing environment:**
macOS 12.4
Python 3.10 with vtk 9.2.0rc1, but extends down to py3.7

[2022-07-05 17:02] ReinderVosDeWael commented on #74
Hi,

Unfortunately we don't support early release candidates. If this bug persist when VTK 9.2.0 is released then we'll resolve this then. As VTK 9.1 does not support Python 3.10, this also means that BrainSpace is currently still incompatible with Python 3.10.

[2022-07-05 17:02] #74 closed, assigned to nobody

[2022-07-05 17:25] mgxd commented on #74
@ReinderVosDeWael There are unofficial VTK wheels for 3.10, but this problem is also present for earlier python distributions, including 3.7.

How about setting a maximum supported VTK version in https://github.com/MICA-MNI/BrainSpace/blob/master/setup.py#L22? Then this problem won't affect installations if/when VTK 9.2.0 is released.

[2022-07-07 18:32] ReinderVosDeWael commented on #74
I'm not convinced that these issues will persist in the final release of 9.2.

The rc1 wasn't intended as a bug-free release candidate (c.f. https://discourse.vtk.org/t/vtk-9-2-0-release-cycle/8149) so making decisions based on this candidate release is quite preliminary.

If the issues persist after the official 9.2 release then we can resolve it then.

[2022-07-12 14:46] ghisvail commented on #74
"vtkUnicodeString and vtkUnicodeStringArray have been removed."

This is in the actual [changelog](https://gitlab.kitware.com/vtk/vtk/-/blob/master/Documentation/release/9.2.md).

They will. Better start dealing with it early with the wheels currently provided than wishing this change will be reverted somehow (it won't).

[2022-07-12 14:59] ghisvail commented on #74
I provided a PR which should implement the necessary compat code to use both wheels from VTK 9.1 and 9.2 (assuming this is the only incompatibility issue).

[2022-07-12 15:20] ghisvail commented on #74
For what it's worth, our unit tests now pass for all Python versions (including 3.10) with the fix I provided so it appears there are no other `ImportError` to deal with with VTK 9.2.

[2022-07-12 15:29] OualidBenkarim commented on #74
Yep, this should work fine now. Thanks @ghisvail

[2022-07-12 15:54] ReinderVosDeWael commented on #74
Perfect, thanks!

[2022-07-12 16:07] ghisvail commented on #74
You're welcome. Would be great to get a release to avoid installing from GitHub 🙏

[2022-07-29 11:55] effigies opened #76 "0.1.4 release for VTK pre-release compatibility"
A release (or pre-release) on PyPI that includes #75 would be appreciated. We run tests where we `pip install --pre` our whole dependency tree, and currently VTK having a pre-release is breaking with 0.1.3.

This would be easiest for me, but I know it's a chore for you, so if you don't have time to do it, we'll find a different solution.

[2022-07-29 12:06] ReinderVosDeWael commented on #76
@OualidBenkarim do you have time for this soon? Otherwise I can have a look mid to late next week.

[2022-07-29 17:05] OualidBenkarim commented on #76
Completely forgot about this :( It will be done by Monday

[2022-07-29 17:08] effigies commented on #76
Thank you!

[2022-08-02 15:14] #76 closed, assigned to nobody

[2022-09-07 10:27] sheyma opened #79 "integrating braincpace-plotting functionality in another package"
I am tying to integrate the plotting functionality of brainspace into brainstat. Therefore, **vtk_interface** and **plotting** submodules are now copied in brainstat.

However, running the **plot_hemispheres** function with brainstat does not work the same way as for brainspace.

[code]

this works perfectly fine!

However, the same command does not work when I import **plot_hemispheres** from bra

[2022-09-28 11:56] Neurojedi opened #80 "plot_hemispheres() crashes Google Colab"
Hi everyone,

I am trying to use BrainSpace on Google Colab. However, Colab is getting crashed whenever I run plot_hemispheres() function. I tried the tutorial codes provided on https://brainspace.readthedocs.io/en/latest/python_doc/auto_examples/index.html

None of them is working on Colab, whereas they work on my local machine. Is there a way around solving this problem?

You can also access my

[2022-09-28 16:21] StephDocTUM opened #81 "Different dimensions of timeseries and atlas"
Dear all,

I am using the fmriprep output which has the dimension of [325325, 238]. E.g. as in the example given using the atlas = datasets.fetch_atlas_surf_destrieux() only has 20484 regions.
What do you suggest to fit the timeseries fmriprep output to an surface atlas?

Best,

[2022-09-28 16:42] PeerHerholz commented on #80
Hi @Neurojedi,

thx for bringing this up. I think this might be related to `vtk` and some required underlying `libraries` (e.g. `libgl`).
Thus, you might need to run it within a computing environment that allows you to install the respective requirements (e.g. set up a `Dockerfile` and run it via `mybinder`).

Looping in @OualidBenkarim as well.

[2022-09-28 16:51] PeerHerholz commented on #81
Hi @StephDocTUM,

thank you very much for opening this issue.

I think there are several options you could try, including resampling the `fmriprep` output to the `atlas` of your choice or the other way around. The basic idea would be to use the `fmriprep` preproc.nii.gz` files in combination with the `destrieux` `atlas`? Maybe the [neuromaps](https://netneurolab.github.io/neuromaps/index.html) pac

[2022-09-28 17:32] ReinderVosDeWael commented on #80
This sounds analogous to issue #66. If you can get Conda to work inside colab then #66 may offer a solution. If not, then unless Oualid has a solution, I don't think this can be resolved in colab.

[2022-09-28 19:43] PeerHerholz commented on #80
Thx for the pointer @ReinderVosDeWael!

[2022-10-04 21:36] ReinderVosDeWael commented on #79
Issue was resolved off of Github.

[2022-10-04 21:36] #79 closed, assigned to nobody

[2022-10-04 21:48] ReinderVosDeWael commented on #80
I got curious and gave the solution of #66 a try in colab. Unfortunately it does not work.

[2022-10-14 13:35] StephDocTUM opened #83 "RecursionError: maximum recursion depth exceeded while calling a Python object"
I am using a correlation matrix based on the Schaefer Atlas with 400x400 fc values.

When running

`gm.fit(correlation_matrix)`, I encounter the above mentioned error. When I set the sys.setrecursionlimit(10000), my kernel restarts.

[2022-10-15 07:46] ReinderVosDeWael commented on #83
Hi,

This will require additional information to resolve. Can you include the full stack trace as well as the type of the correlation matrix variable?

[2022-10-15 10:09] StephDocTUM commented on #83
Matrix:

[https://wetransfer.com/downloads/afd1597dee2065df398255a80ef8d86a20221015100624/289b80183b8ae1122e3ebee1d962bac520221015100643/3a2873](url)

Full error:
`Traceback (most recent call last):

  File "/var/folders/79/z7g43_0x08g2yj7w6lb_j5280000gn/T/ipykernel_31481/3671169470.py", line 28, in <module>
    gm.fit(correlation_matrix)

  File "/Users/Wu/opt/anaconda3/lib/python3.9/site-package

[2022-10-15 13:28] ReinderVosDeWael commented on #83
This looks like either a modified or old version of BrainSpace. Firstly, can you reinstall with the most recent version and confirm the error persists? If yes, please test the type and shape of the correlation_matrix and let me know the output i.e.

[code]

[2022-11-01 17:49] OualidBenkarim commented on #80
Thanks guys!

This is definitely related to vtk. I will check it out in more depth

[2022-11-07 03:24] chenfei-ye opened #85 "Too slow when running gm.fit on vertice"
Hi,

Current version works fine (~minutes) when running gm.fit() with cosine/normalized_angle kernel for node-based connectivity matrix (e.g. 400 nodes for Schaefer atlas), but it could be really slow (~hours) when running on huge-size vertex-based connectivity matrix (e.g. 32k for fs_LR space, or 20k for fsaverage5 space).

One way for speedup is using gpu-torch methed `torch.nn.functional.cosine

[2022-11-16 19:49] OualidBenkarim commented on #85
Hi @chenfei-ye

Yes, for big matrices the current implementation can be very slow, a pull request is welcome.

Another way to do it is to compute your kernel before calling `gm.fit`:
[code]

[2022-11-30 22:24] RuiHe1999 opened #86 "How to save the hemisphere plots from the plotter?"
Hi,

Thanks for providing this useful toolkit. I have created a plotting.base.plotter using this code in python:

plotter = plot_hemispheres(surf_lh, surf_rh, array_name=grad, size=(1200, 400),
                    cmap='viridis_r', color_bar=True,
                  label_text=['Grad1', 'Grad2', 'Grad3', 'Grad4', 'Grad5',
                              'Grad6', 'Grad7', 'Grad8', 'Grad9', 'Grad10'],